<template>
  <div class="modal is-active" v-if="show">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Add Torernt</p>
        <button class="delete" @click="close"></button>
      </header>
      <section class="modal-card-body">
        <form @submit="add">
          <div class="field">
            <label class="label">Torrent</label>

            <p class="control">
              <textarea class="textarea" v-model="torrent"></textarea>
            </p>
          </div>
        </form>
        <div v-if="validationError" class="notification is-danger">
          Enter a Magnet link or a URL to a torrent.
        </div>
        <div v-if="serverError" class="notification is-danger">
          Failed adding the torrent.
        </div>
      </section>
      <footer class="modal-card-foot">
        <a :disabled="loading" class="button" @click="close">Cancel</a>
        <a :disabled="loading" class="button is-success" @click="add">
          <i v-if="loading" class="fa fa-spinner fa-spin"></i>  
          Add
        </a>
      </footer>
    </div>
  </div>
</template>

<style scoped>
.notification {
  margin-top: 20px;
}
</style>

<script>
import TorrentService from '@/services/torrentService'

export default {
  name: 'AddTorrentModal',
  props: ['show'],
  data () {
    return {
      torrent: '',
      loading: false,
      torrentService: new TorrentService(),
      validationError: false,
      serverError: false
    }
  },
  methods: {
    close () {
      this.$emit('close')
    },
    add () {
      this.validationError = false
      this.serverError = false

      if (!this.validate()) {
        this.validationError = true

        return
      }

      this.loading = true

      var success = (response) => {
        this.loading = false
        this.$emit('torrent-added')
      }

      var error = (repsonse) => {
        this.loading = false
        this.serverError = true
      }

      this.torrentService.add(this.torrent, success, error)
    },
    validate () {
      let possibleStarts = ['http', 'magnet']

      for (var i = 0; i < possibleStarts.length; i++) {
        var possibility = possibleStarts[i]

        if (this.torrent.startsWith(possibility)) {
          return true
        }
      }

      return false
    }
  }
}
</script>
