<template>
  <div v-if="show" class="modal is-active">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title long-and-truncated">Delete {{prettyTorrentName}}</p>
        <button @click="close" class="delete"></button>
      </header>
      <section class="modal-card-body">
        <p>Are you sure?</p>
        <br />
        <p>This will remove the torrent and data.</p>
      </section>
      <footer class="modal-card-foot">
        <a :disabled="loading" class="button" @click="close">Cancel</a>
        <a :disabled="loading" class="button is-success" @click="remove">
          <i v-if="loading" class="fa fa-spinner fa-spin"></i>  
          Delete
        </a>
      </footer>
    </div>
  </div>
</template>

<script>
import openable from '@/mixins/openable'
import TorrentService from '@/services/torrentService'

export default {
  name: 'DeleteTorrentModal',
  props: ['torrent', 'prettyTorrentName'],
  data () {
    return {
      loading: false
    }
  },
  methods: {
    remove () {
      this.loading = true

      let service = new TorrentService()

      let successCallback = () => {
        this.loading = false
        this.$emit('success')
      }

      let errorCallback = () => {
        this.loading = false
        this.error = true
      }

      service.delete(this.torrent, successCallback, errorCallback)
    }
  },
  mixins: [
    openable
  ]
}
</script>
