<template>
  <div class="container">
    <i v-if="loading" class="fa fa-spinner fa-spin"></i>
    
    <div class="column">
        <button class="button is-primary add-torrent" @click="showAddTorrentModal = true">Add torrent</button>
        
        <add-torrent-modal :show="showAddTorrentModal" @close="showAddTorrentModal = false" @torrent-added="torrentAdded"></add-torrent-modal>
    </div>

    <div class="column search-field">
      <div class="field">
        <p v-if="!loading" class="control has-icons-left">
          <input v-model="query" type="search" class="input" placeholder="Search" />

          <span class="icon is-left">
            <i class="fa fa-search"></i>
          </span>
        </p>
      </div>
    </div>
    <div v-if="torrentListEmpty" class="column notification-container">
      <div class="notification">
        No torrents
      </div>
    </div>
    <div v-if="serverError" class="column notification-container">
      <div class="notification is-danger">
        Failed to load torrents.
      </div>
    </div>
    <div class="column">
      <torrent v-for="torrent in filteredTorrents" :torrent="torrent" :prettyTorrentName="getPrettyTorrentName(torrent.Hash)" :key="torrent.Hash" @delete="triggerDelete($event)"></torrent>
    </div>

    <delete-torrent-modal 
      :show="showDeleteTorrentModal" 
      :torrent="deleteTorrent" 
      :prettyTorrentName="getPrettyTorrentName(deleteTorrent.Hash)" 
      @close="showDeleteTorrentModal = false"
      @success="deletedTorrent"></delete-torrent-modal>
  </div>
</template>

<style scoped>
.search-field {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.notification-container {
  padding-left: 12.5%;
  padding-right: 12.5%;
}

</style>

<script>
import AddTorrentModal from './AddTorrentModal'
import DeleteTorrentModal from './DeleteTorrentModal'
import Torrent from './Torrent'
import TorrentService from '@/services/torrentService'
import PTN from 'PTN'

export default {
  name: 'home',
  data () {
    return {
      query: '',
      torrents: [],
      authenticated: false,
      loading: false,
      showAddTorrentModal: false,
      showDeleteTorrentModal: false,
      serverError: false,
      torrentService: new TorrentService(),
      deleteTorrent: {}
    }
  },
  methods: {
    torrentAdded () {
      this.showAddTorrentModal = false

      this.loadTorrents()
    },
    loadTorrents (silentlyUpdate) {
      this.serverError = false

      if (!silentlyUpdate) {
        this.loading = true
      }

      let success = (response) => {
        this.torrents = response.data
        this.loading = false
      }

      let error = (response) => {
        this.serverError = true
        this.loading = false

        this.torrents = []
      }

      this.torrentService.get(success, error)
    },
    getSeasonName (torrentInfo) {
      let season = this.padLeadingZero(torrentInfo.season)
      let episode = this.padLeadingZero(torrentInfo.episode)

      return `${torrentInfo.title} S${season}E${episode}`
    },
    getMovieName (torrentInfo) {
      var title = torrentInfo.title

      if (torrentInfo.year) {
        title += ` (${torrentInfo.year})`
      }

      return title
    },
    getPrettyTorrentName (hash) {
      return this.prettyTorrentNames[hash]
    },
    padLeadingZero (number) {
      if (number < 10) {
        return '0' + number
      }

      return number
    },
    triggerDelete (torrent) {
      this.showDeleteTorrentModal = true
      this.deleteTorrent = torrent
    },
    deletedTorrent () {
      this.showDeleteTorrentModal = false
      this.loadTorrents()
    }
  },
  computed: {
    filteredTorrents () {
      if (!this.query) {
        return this.torrents
      }

      var query = this.query.toLowerCase()

      return this.torrents.filter((torrent) => {
        var prettyName = this.prettyTorrentNames[torrent.Hash]
        return prettyName.toLowerCase().indexOf(query) > -1
      })
    },
    torrentListEmpty () {
      return this.filteredTorrents.length === 0 && !this.loading && !this.serverError
    },
    prettyTorrentNames () {
      let names = []

      for (var i = 0; i < this.torrents.length; i++) {
        let torrent = this.torrents[i]
        let info = PTN(torrent.Name)
        let prettyName

        if (info.season) {
          prettyName = this.getSeasonName(info)
        } else {
          prettyName = this.getMovieName(info)
        }

        names[torrent.Hash] = prettyName
      }

      return names
    }
  },
  watch: {
    filteredTorrents () {
      this.showNoTorrentAlert = true
    }
  },
  created () {
    this.loadTorrents()

    var self = this

    function timeout () {
      setTimeout(function () {
        self.loadTorrents(true)
        timeout()
      }, 30 * 1000)
    }

    timeout()
  },
  components: {
    AddTorrentModal,
    DeleteTorrentModal,
    Torrent
  }
}
</script>
