<template>
  <div class="card is-one-line">
    <header class="card-header" @click="isExpanded = !isExpanded">
      <p class="card-header-title torrent-name">
        <i v-if="!isFinished" class="fa fa-spinner fa-spin downloading" style="margin-top: 0px; margin-right: 5px;"></i> 
        <i v-if="isFinished" class="fa fa-check finished" style="margin-right: 5px;"></i>

        <span v-if="!isFinished" style="color: red; padding-right: 5px;">
          {{torrent.Progress.toFixed(2) + '%  ' }} 
        </span>  
        {{prettyTorrentName}}
      </p>

      <a class="card-header-icon">
        <span class="icon">
          <i class="fa fa-angle-down"></i>
        </span>
      </a>
    </header>
    <div :class="{ 'is-hidden': !isExpanded }" class="card-content">
      <p>
        Download Status: <i :class="torrent.Finished ? 'fa-check finished' : 'fa-spinner fa-spin downloading'" class="fa fa-check" style="margin-top: 2.5px;" aria-hidden="true"></i>
      </p>
      <p>
        Size: {{getSizeInMegabytes(torrent.TotalWanted)}} MB
      </p>
      <p class="long-and-truncated">
        {{torrent.Name}}
      </p>

      <button class="button is-danger is-delete" @click="triggerDelete">Delete</button>
    </div>

    <!--<delete-torrent-modal :torrent="torrent" :prettyName="parsedTorrentName" :show="showDeleteModal" @close="showDeleteModal = false"></delete-torrent-modal>-->
  </div>
</template>

<style scoped>
.finished {
  color: green;
}

.downloading {
  color: red;
}

.is-one-line {
  white-space: nowrap
}

.card-header {
  cursor: pointer
}

.is-delete {
  margin-top: 10px;
}

</style>

<script>
export default {
  props: ['torrent', 'prettyTorrentName'],
  data () {
    return {
      isExpanded: false,
      showDeleteModal: false
    }
  },
  methods: {
    getSizeInMegabytes (sizeInBytes) {
      let megabyteInBytes = 1048576

      return (sizeInBytes / megabyteInBytes).toFixed(2)
    },
    triggerDelete () {
      this.showDeleteModal = true

      this.$emit('delete', this.torrent)
    }
  },
  computed: {
    isFinished () {
      return this.torrent.Progress === 100
    }
  }
}
</script>
